@use "variables" as vars;

// Tags
html {
  overflow-x: hidden;
  box-sizing: border-box;
  &.fixed {
    overflow-y: hidden;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: vars.$font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: vars.$white;
  background: vars.$bg;
}

a {
  color: vars.$white;
  transition: 0.2s;
  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.screen {
  filter: drop-shadow(48px 48px 100px rgba(#000000, 0.7));
}

// ScrollBar
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$main;
}

::-webkit-scrollbar-track {
  background-color: vars.$bg;
}

// Selection
::selection {
  background: rgba(vars.$main, 0.1);
}

.disabled {
  pointer-events: none;
}

// Модальные окна
.popup {
  user-select: none;
  background-color: vars.$white;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(vars.$main, 0.08);
  font-size: 14px;
  line-height: 18px;
  padding: 12px 0px;
  position: absolute;
  transition: 0.25s;
  width: 200px;
  z-index: 100;
  top: 0;
  right: 0;
}