@use "./assets/variables.scss" as vars;

//Min-Width: 2500px ================================
@media (min-width: 2500px) {
  .footer {
    background-color: vars.$bg;
    .pattern {
      display: none;
    }
    .box {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  }
}

//Min-Width: 2000px ================================
@media (min-width: 2000px) {
  body {
    background-image: none;
  }
  .footer {
    .box {
      padding-top: 250px;
    }
    .pattern {
      margin-top: -100px;
    }
  }
}

//Max-Width: 1200px ================================
@media (max-width: 1200px) {
  .footer {
    .box {
      padding-top: 220px;
      padding-bottom: 50px;
    }
    .pattern {
      width: 120%;
    }
  }
}

//Max-Width: 1060px ================================
@media (max-width: 1060px) {
  .benefit {
    width: calc(50% - 15px);
    .img {
      flex-shrink: 0;
    }
  }
  .main {
    .pattern1 {
      right: -50px;
    }
    .pattern2 {
      bottom: 0px;
    }
    .box {
      padding: 60px 60px;
    }
    .content {
      width: 60%;
    }
  }
  .download {
    padding-bottom: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    .pattern3 {
      width: 300px;
      left: -30px;
      top: -100px;
    }
    .pattern4 {
      width: 500px;
      right: -30px;
      bottom: -110px;
    }
  }
}

//Max-Width: 950px ================================
@media (max-width: 950px) {
  .download {
    .images {
      width: 40%;
      .screen3 {
        right: -40px;
      }
    }
  }
  .policy h1 {
    font-size: 32px;
  }
}

//Max-Width: 850px ================================
@media (max-width: 850px) {
  body {
    background-size: 120%;
    background-position: top center;
  }
  .download {
    .content {
      width: 55%;
      h1 {
        font-size: 55px;
        line-height: 55px;
      }
      .text {
        line-height: 26px;
        margin-bottom: 30px;
      }
    }
    .images {
      width: 40%;
      .screen2 {
        width: 230px;
      }
      .screen3 {
        width: 210px;
      }
    }
  }
  .main {
    .pattern1 {
      right: -50px;
    }
    .pattern2 {
      width: 450px;
      bottom: -50px;
      left: -100px;
    }
    .box {
      padding: 60px 30px;
    }
    .screen1 {
      width: 210px;
    }
  }
}

//Tablet ##########################################
//Max-Width: 800px ================================
@media (max-width: 800px) {
  .benefits {
    h2 {
      font-size: 32px;
      line-height: 42px;
    }
    .text {
      margin-bottom: 40px;
    }
  }
  .benefit {
    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
    }
    .img {
      width: 40px;
      margin-right: 10px;
      img {
        height: 30px;
      }
    }
  }
}

//Max-Width: 750px ================================
@media (max-width: 750px) {
  .benefits {
    margin-bottom: 50px;
  }
  .download {
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    .content {
      h1 {
        font-size: 45px;
        line-height: 45px;
      }
      .text {
        line-height: 26px;
        margin-bottom: 25px;
      }
    }
    .images {
      .screen2 {
        width: 210px;
      }
      .screen3 {
        width: 190px;
      }
    }
    .pattern3 {
      width: 200px;
      left: -30px;
      top: -80px;
    }
    .pattern4 {
      width: 400px;
      bottom: -100px;
    }
  }
  .footer {
    .logo {
      width: auto;
      height: 50px;
    }
    .box {
      padding-top: 200px;
    }
    .pattern {
      width: 150%;
      margin-left: -200px;
    }
  }
  .main {
    .pattern1 {
      width: 400px;
      right: -30px;
    }
    .pattern2 {
      width: 400px;
    }
    .box {
      padding: 60px 20px;
    }
    .screen1 {
      width: 190px;
    }
    .content {
      h2 {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
}

//Phone ###########################################
//Max-Width: 641px ================================
@media (max-width: 641px) {
  .footer {
    .logo {
      height: 60px;
      margin: 0 auto 35px auto;
    }
    .box {
      flex-direction: column;
      align-items: center;
    }
    .content {
      align-items: center;
      p {
        text-align: center;
      }
      a {
        text-align: center;
      }
    }
  }
}

//Max-Width: 600px ================================
@media (max-width: 600px) {
  .benefits {
    h2 {
      font-size: 26px;
      line-height: 30px;
    }
    .text {
      font-size: 14px;
      line-height: 16px;
    }
  }
  .benefit {
    margin-bottom: 35px;
    h4 {
      font-size: 18px;
      line-height: 22px;
    }
    p {
      line-height: 20px;
    }
    .img {
      width: 35px;
      img {
        height: 25px;
      }
    }
  }
  .download {
    flex-wrap: wrap;
    margin-bottom: 0px;
    .content {
      order: 1;
      width: 100%;
      h1 {
        font-size: 45px;
        line-height: 45px;
      }
      .text {
        line-height: 26px;
        margin-bottom: 25px;
      }
    }
    .images {
      order: 0;
      width: 65%;
      margin: 0 auto 60px auto;
      .screen2 {
        width: 230px;
      }
      .screen3 {
        top: 30px;
        right: 0px;
        width: 210px;
      }
    }
    .pattern3 {
      width: 200px;
      left: auto;
      right: -50px;
      top: auto;
      bottom: -90px;
    }
    .pattern4 {
      width: 400px;
      bottom: auto;
      top: 240px;
      right: 110px;
    }
  }
  .main {
    .pattern2 {
      width: 350px;
    }
    .box {
      padding: 60px 0px;
    }
    .screen1 {
      width: 170px;
    }
    .content {
      h2 {
        font-size: 26px;
        line-height: 32px;
      }
      .text {
        font-size: 14px;
      }
      .btn {
        padding: 10px 20px;
      }
    }
  }
  .policy {
    margin-top: 30px;
    h1 {
      text-align: left;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }
  }
}

//Max-Width: 500px ================================
@media (max-width: 500px) {
  body {
    background-image: none;
  }
  .download {
    .content {
      .text {
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
    .images {
      width: 75%;
    }
    .pattern4 {
      right: 50px;
    }
  }
  .main {
    .pattern1 {
      width: 400px;
      right: -70px;
    }
    .pattern2 {
      display: none;
    }
    .screen1 {
      display: none;
    }
    .content {
      width: 100%;
      h2 {
        font-size: 32px;
        line-height: 42px;
      }
      .text {
        font-size: 16px;
      }
      .btn {
        padding: 12px 30px;
      }
    }
  }
  .footer {
    .pattern {
      width: 200%;
      margin-left: -350px;
    }
    .box {
      padding-top: 180px;
      flex-direction: column;
    }
  }
}

//Max-Width: 450px ================================
@media (max-width: 450px) {
  .benefits {
    h2 {
      text-align: left;
      margin-bottom: 40px;
    }
    .text {
      display: none;
    }
  }
  .benefit {
    width: 100%;
  }
  .download {
    .content {
      h1 {
        font-size: 34px;
        line-height: 34px;
      }
      .text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }
    .images {
      width: 85%;
      .screen2 {
        width: 210px;
      }
      .screen3 {
        width: 190px;
      }
    }
    .pattern3 {
      right: -100px;
      bottom: -110px;
    }
    .pattern4 {
      width: 350px;
    }
  }
  .footer {
    .logo {
      height: 55px;
      margin: 0 auto 30px auto;
    }
    .list {
      a {
        font-size: 18px;
      }
    }
  }
  .main {
    margin-bottom: 80px;
    .content {
      h2 {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
  .policy {
    margin-top: 30px;
    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

//Max-Width: 359px ================================
@media (max-width: 359px) {
  .benefits {
    h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .download {
    .images {
      width: 95%;
    }
    .pattern4 {
      right: 0;
    }
  }
}
